<section class="coffee-bg">
  <h1>Best Coffee In Town</h1>
</section>
<section class="coffee-info">
  <div class="container">
    <div class="icon-item">
      <mat-icon> local_cafe</mat-icon>
      <span>Best Coffee</span>
    </div>
    <div class="icon-item">
        <i>
            <mat-icon> location_on</mat-icon>
        </i>
      <span>Many Locations</span>
    </div>
    <div class="icon-item">
      <mat-icon>meeting_room</mat-icon>
      <span>Open 24/7</span>
    </div>
  </div>
</section>
